<div class="home-page">
    <h1>Fitts Law Test</h1>
    <p>
        This website runs a pointing-device speed test adapted from Fitts's Law and ISO 9241-9. It was developed by
        <a href="http://www.asitparida.com/" target="_blank">Asit Parida</a> for CMU HCII course 05-640 and updated by
        <a href="https://www.chaoranchen.com/" target="_blank">Chaoran Chen</a> for 05-440/640.
        <br>
        On the next page, enter the details of the device you are testing. Measuring the screen diagonal accurately is important.
        <br>
        Tap or click the blue circles as quickly and accurately as possible. If you miss, the circle turns red and waits for a correct selection. Do not resize the window or change device orientation during the test.
        <br>
        At the end, you can display your results and download them in JSON or CSV format. The local application also saves one complete record for each finished formal or demo session.
    </p>
    <button class="btn-main primary" [routerLink]="['/info']">Next</button>
</div>
